@import 'color';

.flogo {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

#toast-container{
  top: 70px;
}

.container-fluid {
  padding: 0 !important;
}

.show-day-of-week, .show-calendar, .show-calendar-month {
  display: none;
}

.form-group--inactive {
  display: block;
}

label.required:after {
  content: " *";
  color: $red-medium;
}
